__pycache__
.cache
.idea
.python-version
*.egg-info
#Sphinx
docs/_build
docs/_static
examples/output/
*.pyc
.DS_Store
.eggs/
.tox/
*$py.class
.coverage
coolcantonese/conf/config.json
coolcantonese/conf/config.yml
tests/simulator.py
.vscode/
kubernetes
